<h1>Anywhere.travel</h1>
<p>
	Local, help travelers. Travelers, get the best advice from locals. From <%= link_to "The Anywhere Company", "http://www.anywherecompany.com"%>
</p>
<p>
	<%= link_to "Sign Up Now", "#" %>
</p>

